<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load staticfiles %}
    <link type="text/css" rel="stylesheet" href="{% static "css/followdream.css" %}">
    <script type="text/javascript" src="{% static "js/jquery-1.9.1.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/followdream.js" %}"></script>
    <link rel="stylesheet"  type="text/css"  href="{% static "css/bootstrap.min.css" %}">
    <title>Follow your dream</title>
</head>
<body>
    <div class='card-holder'>
        <div class='card-wrapper'>
            <a href='#'>
                <div class='card bg-03'>
                    <span class='card-content'>Create a dream</span>
                </div>
            </a>
        </div>
        <div class='card-wrapper'>
            <a href='#'>
                <div class='card bg-04'>
                    <span class='card-content'>Go my blog</span>
                </div>
            </a>
        </div>
        <div class='card-wrapper'>
            <a href='#'>
                <div class='card bg-05'>
                    <span class='card-content'>About me</span>
                </div>
            </a>
        </div>
    </div>

    <div id="main">
        {% for dr in dreams%}
            <div class="box">
            <div class="pic">
                <!-- <img src="{% static "{{dr.pic_name}}"  %}"> -->
                <img src="http://127.0.0.1:8000/upload/{{dr.pic_name}} ">
                <div class="content">
                    <div>{{dr.content}}</div>
                </div>
                <div class="info">
                    <div class="label">{{dr.name}}
                        <div class="heart">
                            aaa<!-- <span class="love_num">{{dr.love_num}}</span> -->
                        </div>
                            <span class="love_num">{{dr.love_num}}</span>
                    </div>
                </div>
            </div>
        </div>
        {%endfor%}
    </div>
</body>
<script type="text/javascript">
    
</script>
</html>